.cover {
    background-color: white;
    text-align: center;
    border: solid black;
    border-width: 1 1px;
    height: 88%;
    width: 95%;
}

.flashcard {
    background-color: gray;
    text-align: center;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 1 1px;
    height: 100%;
    width: 100%;
    padding-bottom: 1%;
}

.term {
    text-align: center;
    color:darkblue;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
}

.description{
    text-align: center;
    color:darkblue;;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
}

